;Harry Modify
; =====================================================
; ================  STATIC AMMO PILES  ================
; =====================================================
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "578 -61 575.0"
	"spawnflags" "2"
	"solid" "6"
	"model" "models/props/terror/ammo_stack.mdl"
	"disableshadows" "1"
	"count" "5"
	"angles" "0 0 0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "1957 561 440.0"
	"spawnflags" "2"
	"solid" "6"
	"model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
	"disableshadows" "1"
	"count" "5"
	"angles" "0 0 0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "1221 2097 1128"
	"spawnflags" "2"
	"solid" "6"
	"model" "models/props/terror/ammo_stack.mdl"
	"disableshadows" "1"
	"count" "5"
	"angles" "0 0 0"
}
;remove pill medical cabinet
filter:
{
	"model" "models/props_interiors/medicalcabinet02.mdl"
}