; Harry Modify 2019
; credit: SirPlease/L4D2-Competitive-Rework/master/cfg/stripper/zonemod/maps/jsarena204_arena.cfg

; =====================================================
; ===================   CUSTOMOGL   ===================
; =====================================================
; --- Add fences to rooftop to maybe make it viable for tank fights

add:
{
	"classname" "prop_dynamic"
	"origin" "4417 -417 737"
	"angles" "0 180 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_urban/fence001_256.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "4417 -609 737"
	"angles" "0 180 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_urban/fence001_128.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "4417 -737 737"
	"angles" "0 180 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_urban/fence001_128.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "4418 18 737"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_urban/fence001_256.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "4418 175 737"
	"angles" "0 180 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_urban/fence001_64.mdl"
}

; --- Remove some hittables in starting area.
filter:
{
	"hammerid" "339960"
}
{
	"hammerid" "339972"
}
{
	"hammerid" "340188"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "3520 -51.8462 0.332653"
	"angles" "-0.0439491 173.54 -0.0878809"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_junk/dumpster_2.mdl"
}

; Harry Modify 2021
add:
; add ammo
{
	"solid" "6"
	"origin" "1877 -607 288"
	"angles" "0 71 0"
	"model"	 "models/props_unique/spawn_apartment/coffeeammo.mdl"
	"count" "1"
	"classname" "weapon_ammo_spawn"
}

; invisible block to prevent from jumping back after rescue starts
{
	; invisible block
	"origin" "1590 -727.99 345"
	"mins" "0 0 -200"
	"maxs" "200 178 200"
	"initialstate" "0"
	"BlockType" "1"
	"classname" "env_player_blocker"
	"targetname" "back_blocker"
}

modify:
{
	match:
	{
		"classname" "trigger_finale"
	}
	insert:
	{
		"FirstUseStart" "back_blocker,Enable,,0,-1"
	}
}

; Harry Modify 2022
add:
; block small room
{
	"solid" "6"
	"origin" "-555 -797 8"
	"angles" "0 -1 0"
	"model"	 "models/props/de_prodigy/concretebags2.mdl"
	"classname"	"prop_dynamic"
}

; extra pills
{
	"solid" "6"
	"origin" "916 -533 0"
	"angles" "0 -15 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

{
	"solid" "6"
	"origin" "1767 -433 87"
	"angles" "0 178 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

{
	"solid" "6"
	"origin" "1758 88 79"
	"angles" "0 -176 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

filter:
; remove unbreakable door
{
	;"origin" "-468 -446 258"
	"hammerid" "188182"
}

; --- Remove item spawns in bad locations or excessive density in a location
; by harry
{
	;"origin" "-548 -740 42.1227"
	"classname" "weapon_pain_pills_spawn"
	"hammerid" "188209"
}