;Harry modify 2022
add:
; ammo
{
	"origin" "4428 3403 1897"
	"solid" "6"
	"model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
	"disableshadows" "1"
	"count" "1"
	"angles" "0 135 0"
	"classname" "weapon_ammo_spawn"
}
{
	"solid" "6"
	"origin" "4448 3661 408"
	"angles" "0 32 0"
	"model"	 "models/props/terror/ammo_stack.mdl"
	"count" "1"
	"classname" "weapon_ammo_spawn"
}
; nerf ladder
{
	"solid" "6"
	"origin" "1672 4227 549"
	"angles" "0 180 90"
	"model"	 "models/props_pipes/pipeset02d_512_001a.mdl"
	"classname"	"prop_dynamic"
}

; infected
{
    "classname" "func_simpleladder"
    "origin" "2156.38 -433.99 -36.58"
    "angles" "0.00 0.00 0.00"
    "model" "*56"        
    "normal.x" "0.00"
    "normal.y" "1.00"
    "normal.z" "0.00"
    "team" "2"
}