;Harry Modify 2021
; --- set pill cabs to have a max of 1 pill
modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "1"
	}
}

add:
{
	"solid" "6"
	"origin" "1016 186 480"
	"angles" "-16 86 0"
	"model"	 "models/props_equipment/cargo_container02.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "1083 161 614"
	"angles" "8 -123 -6"
	"model"	 "models/props_equipment/cargo_container01.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "996 323 379"
	"angles" "17 -75 90"
	"model"	 "models/w_models/weapons/w_smg_uzi.mdl"
	"count" "5"
	"classname" "weapon_smg_spawn"
}

{
	"solid" "6"
	"origin" "828 344 385"
	"angles" "12 -120 90"
	"model"	 "models/w_models/weapons/w_shotgun.mdl"
	"count" "5"
	"classname" "weapon_pumpshotgun_spawn"
}

{
	"solid" "6"
	"origin" "1034 412 403"
	"angles" "6 -25 107"
	"model"	 "models/w_models/Weapons/w_sniper_mini14.mdl"
	"count"  "5"
	"classname" "weapon_hunting_rifle_spawn"
}

{
	"solid" "6"
	"origin" "971 -516 163"
	"angles" "-16 141 -20"
	"model"	 "models/props/cs_militia/boxes_garage_lower.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "2067 -161 -216"
	"angles" "15 -97 0"
	"model"	 "models/props/terror/ammo_stack.mdl"
	"count" "1"
	"classname" "weapon_ammo_spawn"
}

{
	"solid" "6"
	"origin" "1159 -454 190"
	"angles" "16 -97 4"
	"model"	 "models/props_equipment/cargo_container01.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-537 276 -113"
	"angles" "0 189 -12"
	"model"	 "models/props/de_prodigy/ammo_can_02.mdl"
	"count" "1"
	"classname" "weapon_ammo_spawn"
}

; prevent stuck in here
{
	"solid" "6"
	"origin" "-1831 -146 -259"
	"angles" "0 -1 15"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic"
}
