; Harry Modify 2022
add:
; ammo
{
	"origin" "4428 3403 1897"
	"solid" "6"
	"model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
	"disableshadows" "1"
	"count" "1"
	"angles" "0 135 0"
	"classname" "weapon_ammo_spawn"
}
{
	"solid" "6"
	"origin" "4448 3661 408"
	"angles" "0 32 0"
	"model"	 "models/props/terror/ammo_stack.mdl"
	"count" "1"
	"classname" "weapon_ammo_spawn"
}
; nerf ladder
{
	"solid" "6"
	"origin" "1672 4227 565"
	"angles" "0 180 90"
	"model"	 "models/props_pipes/pipeset02d_512_001a.mdl"
	"classname"	"prop_dynamic"
}

; infected ladder
{
    "classname" "func_simpleladder"
    "origin" "2156.38 -433.99 -36.58"
    "angles" "0.00 0.00 0.00"
    "model" "*56"        
    "normal.x" "0.00"
    "normal.y" "1.00"
    "normal.z" "0.00"
    "team" "2"
}

; objects
{
	"solid" "6"
	"origin" "5245 4551 2116"
	"angles" "0 90 0"
	"model"	 "models/props_vehicles/cara_84sedan.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "4748 3647 2116"
	"angles" "0 -160 0"
	"model"	 "models/props_vehicles/cara_95sedan.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "5358 3631 2116"
	"angles" "0 65 0"
	"model"	 "models/props_vehicles/cara_82hatchback_wrecked.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "4168 4579 2120"
	"angles" "0 179 0"
	"model"	 "models/props_vehicles/van.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "4168 4579 2120"
	"angles" "0 179 0"
	"model"	 "models/props_vehicles/van_glass.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "5440 4023 2112"
	"angles" "0 10 0"
	"model"	 "models/props_vehicles/cara_69sedan.mdl"
	"classname"	"prop_dynamic"
}

filter:
; --- Remove item spawns in bad locations or excessive density in a location
; by harry
{
	"hammerid" "35475"
}
{
	"hammerid" "134873"
}