;Harry Modify
; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================

; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "1"
	}
}
; =====================================================
; ================  STATIC AMMO PILES  ================
; =====================================================
add:
{
		"classname" "weapon_ammo_spawn"
        "origin" "9393 -3440 215"
        "spawnflags" "2"
        "solid" "6"
        "model" "models/props/terror/ammo_stack.mdl"
        "disableshadows" "1"
        "count" "5"
        "angles" "0 0 0"
}
{
		"classname" "weapon_ammo_spawn"
        "origin" "9595 -3440 215"
        "spawnflags" "2"
        "solid" "6"
        "model" "models/props/terror/ammo_stack.mdl"
        "disableshadows" "1"
        "count" "5"
        "angles" "0 0 0"
}
{
		"classname" "weapon_ammo_spawn"
        "origin" "9495 -3440 215"
        "spawnflags" "2"
        "solid" "6"
        "model" "models/props/terror/ammo_stack.mdl"
        "disableshadows" "1"
        "count" "5"
        "angles" "0 0 0"
}