; Harry Modify 2022
add:
; ammo
{
	"origin" "-3667 5836 -9"
	"solid" "6"
	"model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
	"disableshadows" "1"
	"count" "1"
	"angles" "0 135 0"
	"classname" "weapon_ammo_spawn"
}

{
	"solid" "6"
	"origin" "-8127 7485 -395"
	"angles" "0 67 0"
	"model"	 "models/props/terror/ammo_stack.mdl"
	"count" "1"
	"classname" "weapon_ammo_spawn"
}

; nerf ladder for survivor
{
	"solid" "6"
	"origin" "-174 721 -131"
	"angles" "0 89 90"
	"model"	 "models/props_pipes/pipeset02d_512_001a.mdl"
	"classname"	"prop_dynamic"
}

; extra pills
{
	"solid" "6"
	"origin" "-3794 5958 -6"
	"angles" "0 22 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}


; --- Fix a hard to use ladder
modify:
{
	match:
	{
		"model" "*180"
		"hammerid" "19412"
	}
	insert:
	{
		"origin" "1 7 0"
	}
}
{
	match:
	{
		;"filtername" "train"
		;"classname" "trigger_once"
		"hammerid" "1268151"
	}
	delete:
	{
		; remove fade when train arrives the end
		"OnTrigger" "endfade,Fade,,1.8,-1"
	}
}

; --- remove unuseful ladder
filter:
{
	"hammerid" "1271438"
}
{
	"hammerid" "1271458"
}

; --- Remove item spawns in bad locations or excessive density in a location
; by harry
{
	"hammerid" "514406"
}
{
	"hammerid" "514406"
}
{
	"hammerid" "514482"
}
{
	"hammerid" "514508"
}
{
	"hammerid" "514560"
}
{
	"hammerid" "514594"
}
{
	"hammerid" "514727"
}
{
	"hammerid" "514733"
}