;Harry modify 2021
add:
{
	"origin" "12308 8807 -550.6"
	"solid" "6"
	"count" "5"
	"angles" "0 140 90"
	"classname" "weapon_hunting_rifle_spawn"
}

modify:
; one hittable for tank
{
	match:
	{
		"origin" "9291.73 10133.2 -832.09"
		"model" "models/props_junk/dumpster.mdl"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"classname" "prop_physics"
	}
}