;Harry Modify
; =====================================================
; ================  STATIC AMMO PILES  ================
; =====================================================
add:
{
		"classname" "weapon_ammo_spawn"
        "origin" "-4519 2143 1016"
        "spawnflags" "2"
        "solid" "6"
        "model" "models/props/terror/ammo_stack.mdl"
        "disableshadows" "1"
        "count" "5"
        "angles" "0 0 0"
}
{
	"origin" "-6666 5809 905"
	"solid" "6"
	"skin" "0"
	"model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
	"disableshadows" "1"
	"count" "1"
	"body" "0"
	"angles" "0 -45 0"
	"classname" "weapon_ammo_spawn"
}
;remove pill medical cabinet
filter:
{
	"model" "models/props_interiors/medicalcabinet02.mdl"
}