; Harry Modify 2019
; nothing

; Harry Modify 2023
add:
; ammo
{
	"origin" "4073 1646 -3843"
	"solid" "6"
	"model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
	"disableshadows" "1"
	"count" "1"
	"angles" "0 135 0"
	"classname" "weapon_ammo_spawn"
}

; invisible block in rooms
; room 1
{
	"classname" "env_player_blocker"
	"origin" "2963 1421 -3688"
	"mins" "-125 -28 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_player_blocker"
	"origin" "2670 1421 -3688"
	"mins" "-152 -60 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_player_blocker"
	"origin" "2798 1082 -3688"
	"mins" "-318 -60 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_player_blocker"
	"origin" "2637 869 -3688"
	"mins" "-158 -60 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_player_blocker"
	"origin" "2862 869 -3688"
	"mins" "-158 -60 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
}
; room 2
{
	"classname" "env_player_blocker"
	"origin" "3759 1628 -3656"
	"mins" "-343 -60 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_player_blocker"
	"origin" "3829 1944 -3656"
	"mins" "-158 -60 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_player_blocker"
	"origin" "3759 2290 -3656"
	"mins" "-343 -60 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
}
; room 3
{
	"classname" "env_player_blocker"
	"origin" "3962 2138 -3681"
	"mins" "-30 -216 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_player_blocker"
	"origin" "4258 2107 -3645"
	"mins" "-60 0 0"
	"maxs" "0 158 100"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_player_blocker"
	"origin" "4258 2331 -3645"
	"mins" "-60 0 0"
	"maxs" "0 158 100"
	"initialstate" "1"
	"BlockType" "1"
}

; extra pills
{
	"solid" "6"
	"origin" "3979 2159 -3755"
	"angles" "0 -160 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

{
	"solid" "6"
	"origin" "2856 1405 -3755"
	"angles" "0 91 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

modify:
; remove non-stop horde when Restoring Power...
{
	match:
	{
		"targetname" "cons_zombie_trigger"
	}
	delete:
	{
		;"OnTrigger" "cons_zombie_music,PlaySound,,1,-1"
		"OnTrigger" "cons_zomb_timer,Enable,,0,-1"
		;"OnTrigger" "cons2_trigg,Trigger,,3,-1"
		"OnTrigger" "cons_spawnzombies,SpawnZombie,,2,-1"
	}
	insert:
	{
		"OnTrigger" "director,PanicEventControlled,1,2,1"
		"OnTrigger" "cons_zombie_trigger,Kill,,0,1"
	}
}

filter:
; --- Remove item spawns in bad locations or excessive density in a location
; by harry
{
	"hammerid" "300199"
}
{
	"hammerid" "300199"
}
{
	"hammerid" "613556"
}
{
	"hammerid" "457831"
}
{
	"hammerid" "275501"
}
{
	"hammerid" "457803"
}
{
	"hammerid" "457797"
}
{
	"hammerid" "275495"
}
{
	"hammerid" "275499"
}
{
	"hammerid" "457735"
}
{
	"hammerid" "275515"
}
{
	"hammerid" "516224"
}
{
	"hammerid" "516226"
}
{
	"hammerid" "275519"
}
{
	"hammerid" "292823"
}
{
	"hammerid" "275525"
}
{
	"hammerid" "275594"
}
{
	"hammerid" "275543"
}
{
	"hammerid" "275533"
}
{
	"hammerid" "275592"
}
{
	"hammerid" "275575"
}
{
	"hammerid" "275567"
}
{
	"hammerid" "275553"
}
{
	"hammerid" "275561"
}
{
	;"origin"     "-549 851 -3744"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "275511"
}
{
	;"origin"     "5648 1802 -3829"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "275527"
}

; Harry Modify 2025
; credit: SirPlease/L4D2-Competitive-Rework/master/cfg/stripper/zonemod/maps/l4d2_stadium1_apartment.cfg
;---- Make random Tier 1 spawn a Shotgun and place an Uzi near it.
;modify:
;{
;	match:
;	{
;		"targetname" "vs_tier1"
;	}
;	replace:
;	{
;		"weapon_selection" "tier1_shotgun"
;	}
;}
;add:
;{
;	"origin" "-418 933 -6"
;	"weapon_selection" "any_smg"
;	"spawn_without_director" "1"
;	"solid" "6"
;	"count" "5"
;	"angles" "0 161 -90"
;	"classname" "weapon_spawn"
;}

;---- Prevent Survivors from starting the button during ready-up
;---- Trigger explosions and horde and such when pressing the button, rather then walking up to the button.
;---- Make the Wall towards the elevator only breakable by SI.
;---- Break the Wall towards the elevator.
;
modify:
;{
;	match:
;	{
;		"targetname" "power restore floor cons"
;	}
;	replace:
;	{
;		"spawnflags" "3073"
;	}
;	insert:
;	{
;		"OnPressed" "cons_bombTrigger0-1"
;	}
;}
;{
;	match:
;	{
;		"targetname" "elevator_door"
;	}
;	insert:
;	{
;		"OnFullyClosed" "power restore floor consUnlock0-1"
;		"OnFullyClosed" "bottom_floor_triggerEnable0-1"
;		"OnFullyClosed" "glass_blowEnable0-1"
;		"OnFullyClosed" "glass3_triggerEnable0-1"
;		"OnFullyClosed" "elevator stop cons relay triggerEnable0-1"
;	}
;}
;{
;	match:
;	{
;		"targetname" "cons_bomb"
;	}
;	delete:
;	{
;		"OnTrigger" "elevator_ventBreak2-1"
;		"OnTrigger" "cons_zombie_triggerTrigger3-1"
;		"OnTrigger" "cons_bomb2Trigger15-1"
;	}
;	insert:
;	{
;		"OnTrigger" "cons wall2Break0-1"
;		"OnTrigger" "cons_zombie_triggerTrigger0-1"
;		"OnTrigger" "cons_bomb2Trigger13-1"
;	}
;}
;{
;	match:
;	{
;		"targetname" "cons wall2"
;	}
;	replace:
;	{
;		"minhealthdmg" "5"
;	}
;}
;filter:
;{
;	"hammerid" "1388440"
;}