; Harry Modify 2023
; exchange alarm car position
modify:
{
	match:
	{
		"hammerid" "914176"
		;"classname" "prop_car_alarm"
	}
	replace:
	{
		"origin" "1357.56 -530.074 -236.992"
		"angles" "0 359.5 0"
	}
}
{
	match:
	{
		;"classname" "prop_car_glass"
		"hammerid" "914180"
	}
	replace:
	{
		"origin" "1357.56 -530.074 -236.992"
		"angles" "0 359.5 0"
	}
}
{
	match:
	{
		"hammerid" "784787"
		;"classname" "prop_physics_multiplayer"
	}
	replace:
	{
		"origin" "2477.97 -261.94 -256.603"
		"angles" "0 165 0"
	}
}
{
	match:
	{
		;"classname" "prop_car_glass"
		"hammerid" "784791"
	}
	replace:
	{
		"origin" "2477.97 -261.94 -256.603"
		"angles" "0 165 0"
	}
}

; delete weapon_first_aid_kit delay spawn
{
	match:
	{
		"targetname" "starting_items"
		"classname" "weapon_first_aid_kit_spawn"
	}
	delete:
	{
		"targetname" "starting_items"
	}
}

add:
; hittable dumpster
{
	"origin" "153 1294 128"
	"angles" "0 179 0"
	"model"	 "models/props_junk/dumpster.mdl"
	"classname"	"prop_physics"
}

{
	"origin" "-1885 2237 136"
	"angles" "0 1 0"
	"model"	 "models/props_junk/dumpster.mdl"
	"classname"	"prop_physics"
}

; objects
{
	"solid" "6"
	"origin" "1675 -501 -256"
	"angles" "0 212 0"
	"model"	 "models/props_vehicles/church_bus01.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "2313 -387 -256"
	"angles" "0 270 0"
	"model"	 "models/props_vehicles/airport_fuel_truck.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "1190 -737 -256"
	"angles" "0 -3 0"
	"model"	 "models/props_street/police_barricade3.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "2188 -1095 -256"
	"angles" "0 46 0"
	"model"	 "models/props_street/police_barricade_368in.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "2359 -924 -232"
	"angles" "0 -174 0"
	"model"	 "models/props/de_nuke/crate_small.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "2196 -82 -232"
	"angles" "0 -2 0"
	"model"	 "models/props/de_prodigy/concretebags.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1285 3062 131"
	"angles" "0 -86 0"
	"model"	 "models/props/cs_militia/boxes_frontroom.mdl"
	"classname"	"prop_dynamic"
}

; extra pills
{
	"solid" "6"
	"origin" "-1230 674 356"
	"angles" "0 3 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

{
	"solid" "6"
	"origin" "990 23 -536"
	"angles" "0 -89 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

; weapons & ammo spawn
{
	"classname" "logic_auto"
	"OnMapSpawn" "ammo_spawn1_template,ForceSpawn,,0,-1"
	"OnMapSpawn" "ammo_spawn2_template,ForceSpawn,,0,-1"
	"OnMapSpawn" "ammo_spawn3_template,ForceSpawn,,0,-1"

	"OnMapSpawn" "weapons_spawn1_template,ForceSpawn,,0,-1"
	"OnMapSpawn" "weapons _spawn2_template,ForceSpawn,,0,-1"
	"OnMapSpawn" "weapons _spawn3_template,ForceSpawn,,0,-1"
}

; ladder
{
    "classname" "func_simpleladder"
    "origin" "-1876.79 5684.84 -21.96"
    "angles" "0.00 -185.00 0.00"
    "model" "*69"        
    "normal.x" "-0.99"
    "normal.y" "0.08"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "1295.10 -282.46 -129.40"
    "angles" "0.00 0.00 0.00"
    "model" "*126"        
    "normal.x" "0.00"
    "normal.y" "1.00"
    "normal.z" "0.00"
    "team" "2"
}

; clip
{
	"BlockType" "1"
	"initialstate" "1"
	"mins" "0 -260 0"
	"maxs" "0 0 500"
	"origin" "1033 -1027 -135"
    "classname" "env_player_blocker"
}

filter:
; --- Remove item spawns in bad locations or excessive density in a location
; by harry
{
	"hammerid" "615654"
}
{
	"hammerid" "921641"
}
{
	"hammerid" "784552"
}
{
	"hammerid" "784550"
}
{
	"hammerid" "784582"
}
{
	"hammerid" "711938"
}
{
	"hammerid" "555175"
}
{
	"hammerid" "784469"
}