; Harry Modify 2019
;Credit: SirPlease/L4D2-Competitive-Rework/master/cfg/stripper/zonemod/maps/l4d_ihm02_manor.cfg

; Disable infinite horde
;modify:
;{
;	match:
;	{
;		"targetname" "horde_coming"
;	}
;	delete:
;	{
;		"OnTrigger" "Director,PanicEventControlled,1000,0,-1"
;		"OnTrigger" "helicopter_horde_timer,Enable,,0,-1"
;	}
;	insert:
;	{
;		"OnTrigger" "Director,PanicEvent,,1,-1"
;	}
;}
;{
;	match:
;	{
;		"filtername" "filter_helicopter"
;		"classname" "trigger_once"
;		"hammerid" "1208038"
;	}
;	insert:
;	{
;		"OnStartTouch" "Director,PanicEvent,,1,-1"
;	}
;}

; Harry Modify 2023
add:
; ammo
{
	"solid" "6"
	"origin" "-713 1804 278"
	"angles" "0 117 0"
	"model"	 "models/props/terror/ammo_stack.mdl"
	"count" "1"
	"classname" "weapon_ammo_spawn"
}

filter:
; --- Remove item spawns in bad locations or excessive density in a location
; by harry
{
	"hammerid" "2236119"
}
{
	"hammerid" "2235123"
}
{
	"hammerid" "1623706"
}
{
	"hammerid" "2235113"
}
{
	"hammerid" "2235133"
}
{
	"hammerid" "2235145"
}
{
	"hammerid" "2235103"
}
{
	"hammerid" "2235087"
}
{
	"hammerid" "2355397"
}
{
	;"origin"     "-1044 -524 264"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "2354561"
}
{
	;"origin"     "-1440 -428 425"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "2354719"
}
{
	"origin" "-224.999 407.999 0"
	"classname" "prop_health_cabinet"
	"hammerid" "604478"
}

; Harry Modify 2026

add:
; 逼人類走外面上屋頂
{
	"targetname" "l4d2_spawn_props_object_2026-07-22_07-32"
	"solid" "6"
	"origin" "-718.17 -274.15 544.03"
	"angles" "0.00 -0.02 0.00"
	"model"	 "models/props/de_nuke/crate_small.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"classname" "env_player_blocker"
	"origin" "-749.48 -236.13 568.261413"
	"mins" "0 -71 0"
	"maxs" "65 0 120"
	"initialstate" "1"
	"BlockType" "1"
}

; 特感梯子
{
    "classname" "func_simpleladder"
    "origin" "313.55 -3360.13 429.78"
    "angles" "0.00 0.00 0.00"
    "model" "*299"        
    "normal.x" "0.00"
    "normal.y" "-1.00"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "313.55 -3360.13 429.78"
    "angles" "0.00 0.00 0.00"
    "model" "*299"        
    "normal.x" "0.00"
    "normal.y" "-1.00"
    "normal.z" "0.00"
    "team" "2"
}

; 直升機飛起來之後生成witch在教堂裡
add: 
{
	"targetname" "witch_spawner"
	"classname" "commentary_zombie_spawner"
	"angles" "8 28 0"
	"origin" "-2290.64 2255.35 162.129226"
}
;{
;
;	"targetname" "witch_spawner"
;	"classname" "info_zombie_spawn"
;	"angles" "8 28 0"
;	"origin" "-2290.64 2255.35 162.129226"
;	; 沒效
;	"population" "witch"
;}
modify:
{
	match:
	{
		;"targetname" "helicopter_trigger"
		"classname" "trigger_once"
		"hammerid" "1656025"
	}
	insert:
	{
		; for commentary_zombie_spawner
		"OnTrigger" "witch_spawner,SpawnZombie,Witch,0,-1"

		; for info_zombie_spawn
		;"OnTrigger" "witch_spawner,SpawnZombie,,0,-1"
	}
}

; 莊園房內隨機位置處發Tank生成
add:
{
	"classname" "info_gamemode"
	"OnVersus" "case_tank_spawn_vs,PickRandom,,0.0,-1"
}
{
	"classname" "logic_versus_random"
	"origin" "-820.76 2074.14 755"
	"targetname" "case_tank_spawn_vs"
	"OnRandom01" "triggeronce_tank_1,Enable,,0.0,-1"
	"OnRandom02" "trigger_tank_2,Trigger,,0.0,-1"
	"OnRandom03" "triggeronce_tank_3,Enable,,0.0,-1"
	;OnRandom04" "triggeronce_tank_4,Enable,,0.0,-1"
}

{
	"origin" "-820.76 2074.14 855"
	"targetname" "trigger_tank_2"
	"spawnflags" "0"
	"classname" "logic_relay"
	"OnTrigger" "triggeronce_tank_21,Enable,,0.0,-1"
	"OnTrigger" "triggeronce_tank_22,Enable,,0.0,-1"
}

{
	"origin" "222.23 636.40 155"
	"targetname" "spawn_tank_vs"
	"population" "river_docks_trap"
	"angles" "0 0 0"
	"classname" "info_zombie_spawn"
	"OnSpawnTank" "spawn_tank_vs,Kill,,0,-1"
}

{
	"classname" "trigger_once"
	"origin" "-1606.32 130.95 207.39"
	"StartDisabled" "1"
	"spawnflags" "1"
	"filtername" "filter_survivor"
	"targetname" "triggeronce_tank_1"
	"OnStartTouch" "spawn_tank_vs,SpawnZombie,,0,-1"
}

{
	"classname" "trigger_once"
	"origin" "-1560.23 -362.56 238.88"
	"StartDisabled" "1"
	"spawnflags" "1"
	"filtername" "filter_survivor"
	"targetname" "triggeronce_tank_21"
	"OnStartTouch" "spawn_tank_vs,SpawnZombie,,0,-1"
}

{
	"classname" "trigger_once"
	"origin" "-461.14 401.27 97.161338"
	"StartDisabled" "1"
	"spawnflags" "1"
	"filtername" "filter_survivor"
	"targetname" "triggeronce_tank_22"
	"OnStartTouch" "spawn_tank_vs,SpawnZombie,,0,-1"
}

{
	"classname" "trigger_once"
	"origin" "-602.74 -355.02 389.34"
	"StartDisabled" "1"
	"spawnflags" "1"
	"filtername" "filter_survivor"
	"targetname" "triggeronce_tank_3"
	"OnStartTouch" "spawn_tank_vs,SpawnZombie,,0,-1"
}

{
	"classname" "trigger_once"
	"origin" "-850.27 -17.36 649.504150"
	"StartDisabled" "1"
	"spawnflags" "1"
	"filtername" "filter_survivor"
	"targetname" "triggeronce_tank_4"
	"OnStartTouch" "spawn_tank_vs,SpawnZombie,,0,-1"
}

{
    "classname" "logic_auto"
    "OnMapSpawn" "triggeronce_tank_1,AddOutput,mins 0 -1 -10,0,-1"
    "OnMapSpawn" "triggeronce_tank_1,AddOutput,maxs 779 1 200,0,-1"
    "OnMapSpawn" "triggeronce_tank_1,AddOutput,solid 2,0,-1"

    "OnMapSpawn" "triggeronce_tank_21,AddOutput,mins 0 -1 -10,0,-1"
    "OnMapSpawn" "triggeronce_tank_21,AddOutput,maxs 50 1 200,0,-1"
    "OnMapSpawn" "triggeronce_tank_21,AddOutput,solid 2,0,-1"

    "OnMapSpawn" "triggeronce_tank_22,AddOutput,mins 0 -1 -10,0,-1"
    "OnMapSpawn" "triggeronce_tank_22,AddOutput,maxs 50 1 200,0,-1"
    "OnMapSpawn" "triggeronce_tank_22,AddOutput,solid 2,0,-1"

    "OnMapSpawn" "triggeronce_tank_3,AddOutput,mins 0 -1 -10,0,-1"
    "OnMapSpawn" "triggeronce_tank_3,AddOutput,maxs 100 1 200,0,-1"
    "OnMapSpawn" "triggeronce_tank_3,AddOutput,solid 2,0,-1"

    "OnMapSpawn" "triggeronce_tank_4,AddOutput,mins -50 -1 -10,0,-1"
    "OnMapSpawn" "triggeronce_tank_4,AddOutput,maxs 0 1 200,0,-1"
    "OnMapSpawn" "triggeronce_tank_4,AddOutput,solid 2,0,-1"
}
