;Harry modify
add:
{
	"origin" "-3667 5836 -9"
	"solid" "6"
	"skin" "0"
	"model" "models/props_unique/spawn_apartment/coffeeammo.mdl"
	"disableshadows" "1"
	"count" "1"
	"body" "0"
	"angles" "0 135 0"
	"classname" "weapon_ammo_spawn"
}
;delete prop_fuel_barrel
filter:
{
	"classname" "prop_fuel_barrel"
}
; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================

; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "1"
	}
}