; Harry Modify 2022
add:
; weapons
{
	"origin" "12308 8807 -550.6"
	"solid" "6"
	"count" "5"
	"angles" "0 140 90"
	"classname" "weapon_hunting_rifle_spawn"
}

; extra pills
{
	"solid" "6"
	"origin" "12255 8281 -679"
	"angles" "0 160 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

{
	"solid" "6"
	"origin" "11733 9785 -736"
	"angles" "0 109 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

{
	"solid" "6"
	"origin" "9804 8594 -736"
	"angles" "0 96 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

{
	"solid" "6"
	"origin" "10895 8838 -781"
	"angles" "0 2 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

{
	"solid" "6"
	"origin" "8908 9564 -768"
	"angles" "0 32 0"
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
}

modify:
; one hittable for tank
{
	match:
	{
		"origin" "9291.73 10133.2 -832.09"
		"model" "models/props_junk/dumpster.mdl"
		"classname" "prop_dynamic"
	}
	replace:
	{
		"classname" "prop_physics"
	}
}

filter:
; --- Remove item spawns in bad locations or excessive density in a location
; by harry
{
	"hammerid" "120505"
}
{
	"hammerid" "230420"
}