; Undead Zone Map 1

; from https://github.com/SirPlease/L4D2-Competitive-Rework/blob/master/cfg/stripper/zonemod/maps/uz_crash.cfg
; --- Hide error prop.
add:
{
	"classname" "prop_dynamic"
	"origin" "6221 1791.54 -63"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props/de_nuke/crate_small.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "6221 1791.54 -1.86503"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props/de_nuke/crate_small.mdl"
}

; --- Remove an item spawn inside the error prop.
filter:
{
	;"hammerid" "516677"
	"classname" "weapon_molotov_spawn"
	"hammerid" "3518"
}

; --- Make saferoom guns consistant
;modify:
;{
;	match:
;	{
;		"hammerid" "22666"
;	}
;	replace:
;	{
;		"weapon_selection" "tier1_shotgun"
;	}
;}
;modify:
;{
;	match:
;	{
;		"hammerid" "262009"
;	}
;	replace:
;	{
;		"weapon_selection" "any_smg"
;	}
;}

modify:
{
	match:
	{
		"targetname" "mine_door_button"
	}
	delete:
	{
		;"OnPressed" "directorPanicEvent1-1"
		"OnPressed" "director,PanicEvent,,1,-1"
	}
}

; Harry Modify 2024
filter:
; --- Remove kits from end saferoom.
{
	;"origin"     "11416 -620 -347"
	"classname"   "weapon_first_aid_kit_spawn"
	"hammerid"    "3577"
}
{
	;"origin"     "11402 -624 -347"
	"classname"   "weapon_first_aid_kit_spawn"
	"hammerid"    "3576"
}
{
	;"origin"     "11401 -607 -350"
	"classname"   "weapon_first_aid_kit_spawn"
	"hammerid"    "3575"
}
{
	;"origin"     "11414 -604 -350"
	"classname"   "weapon_first_aid_kit_spawn"
	"hammerid"    "3574"
}

; --- Remove item spawns in bad locations or excessive density in a location
{
	;"origin"     "2148 834 110"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "3503"
}
{
	;"origin"     "2148 746 109"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "3504"
}
{
	;"origin"     "3584 1805 249"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "3538"
}
{
	;"origin"     "5911 1922 -24"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "3516"
}
{
	;"origin"     "6296 804 48"
	"classname"   "weapon_first_aid_kit_spawn"
	"hammerid"    "3063"
}
{
	;"origin"     "2148 655 110"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "3505"
}

add:
; pills
{
	"targetname" "l4d2_spawn_props_object_2024_06_03"
	"solid" "6"
	"classname"	"weapon_pain_pills_spawn"
	"origin" "6339.15 845.37 88.06"
	"angles" "0.00 1.14 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}
; object
{
	"targetname" "l4d2_spawn_props_object_2024_06_03"
	"solid" "6"
	"origin" "6338.43 858.65 48.03"
	"angles" "0.00 -90.03 0.00"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic_override"
}
{
	"targetname" "l4d2_spawn_props_object_2024_06_03"
	"solid" "6"
	"origin" "11449.74 -1209.40 -351.96"
	"angles" "0.00 141.52 0.00"
	"model"	 "models/props/cs_militia/boxes_frontroom.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_06_03"
	"solid" "6"
	"origin" "11502.77 -1133.34 -351.69"
	"angles" "0.00 -46.41 0.00"
	"model"	 "models/props/cs_militia/crate_extralargemill.mdl"
	"classname"	"prop_dynamic_override"
}

modify:
; fix director panic event
{
	match:
	{
		"targetname" "minifinale_gates_button"
	}
	delete:
	{
		"OnPressed" "director,ForcePanicEvent,,1,-1"
	}
	insert:
	{
		"OnPressed" "director,PanicEvent,,1,-1"
	}
}
; slow down second gate open
{
	match:
	{
		"targetname" "mine_door_button"
	}
	delete:
	{
		"OnOpen" "mine_door_lower,Open,,0,-1"
		"OnOpen" "mine_door_middle,Open,,1,-1"
	}
	insert:
	{
		"OnOpen" "mine_door_lower,Open,,0,-1"
		"OnOpen" "mine_door_middle,Open,,15,-1"
	}
}
{
	match:
	{
		"targetname" "mine_door_lower"
	}
	replace:
	{
		;"speed" "40"
		"speed" "2.5"
	}
}
{
	match:
	{
		"targetname" "mine_door_middle"
	}
	replace:
	{
		;"speed" "40"
		"speed" "2.5"
	}
}

; Harry Modify 2025

;洞穴比較暗
modify:
{
	match:
	{
		;"classname" "env_fog_controller"
		"hammerid" "3022"
	}
	replace:
	{
		;1000->2000
		"fogstart" "3000"
		"fogend" "4000"
		"farz" "5000"
	}
}

add:
{
	"solid" "6"
	"fadescale" "0"
	"origin" "7583 -316 -2"
	"disableshadows" "1"
	"model" "models/props_lighting/light_flares.mdl"
	"classname" "prop_dynamic"
}
{
	"origin" "7583 -314 -2"
	"angles" "-45 -120 0"
	"rendercolor" "200 20 15"
	"rendermode" "9"
	"spotlightwidth" "1"
	"spotlightlength" "3"
	"renderamt" "255"
	"spawnflags" "1"
	"disableshadows" "1"
	"classname" "point_spotlight"
}
{
	"origin" "7583 -314 -3"
	"style" "6"
	"_light" "200 20 15 255"
	"brightness" "3"
	"spotlight_radius" "64"
	"distance" "500"
	"classname" "light_dynamic"
}
{
	"origin" "7583 -314 -2"
	"start_active" "1"
	"effect_name" "flare_burning"
	"cpoint7_parent" "0"
	"cpoint6_parent" "0"
	"cpoint5_parent" "0"
	"cpoint4_parent" "0"
	"cpoint3_parent" "0"
	"cpoint2_parent" "0"
	"cpoint1_parent" "0"
	"angles" "-90 0 0"
	"classname" "info_particle_system"
}

{
	"solid" "6"
	"fadescale" "0"
	"origin" "7957 -1258 -54"
	"disableshadows" "1"
	"model" "models/props_lighting/light_flares.mdl"
	"classname" "prop_dynamic"
}
{
	"origin" "7957 -1260 -54"
	"angles" "-45 -120 0"
	"rendercolor" "200 20 15"
	"rendermode" "9"
	"spotlightwidth" "1"
	"spotlightlength" "3"
	"renderamt" "255"
	"spawnflags" "1"
	"disableshadows" "1"
	"classname" "point_spotlight"
}
{
	"origin" "7957 -1260 -54"
	"style" "6"
	"_light" "200 20 15 255"
	"brightness" "3"
	"spotlight_radius" "64"
	"distance" "500"
	"classname" "light_dynamic"
}
{
	"origin" "7957 -1260 -53"
	"start_active" "1"
	"effect_name" "flare_burning"
	"cpoint7_parent" "0"
	"cpoint6_parent" "0"
	"cpoint5_parent" "0"
	"cpoint4_parent" "0"
	"cpoint3_parent" "0"
	"cpoint2_parent" "0"
	"cpoint1_parent" "0"
	"angles" "-90 0 0"
	"classname" "info_particle_system"
}

{
	"solid" "6"
	"fadescale" "0"
	"origin" "8651 -1644 -22"
	"disableshadows" "1"
	"model" "models/props_lighting/light_flares.mdl"
	"classname" "prop_dynamic"
}
{
	"origin" "8651 -1646 -22"
	"angles" "-45 -120 0"
	"rendercolor" "200 20 15"
	"rendermode" "9"
	"spotlightwidth" "1"
	"spotlightlength" "3"
	"renderamt" "255"
	"spawnflags" "1"
	"disableshadows" "1"
	"classname" "point_spotlight"
}
{
	"origin" "8651 -1646 -22"
	"style" "6"
	"_light" "200 20 15 255"
	"brightness" "3"
	"spotlight_radius" "64"
	"distance" "500"
	"classname" "light_dynamic"
}
{
	"origin" "8651 -1646 -21"
	"start_active" "1"
	"effect_name" "flare_burning"
	"cpoint7_parent" "0"
	"cpoint6_parent" "0"
	"cpoint5_parent" "0"
	"cpoint4_parent" "0"
	"cpoint3_parent" "0"
	"cpoint2_parent" "0"
	"cpoint1_parent" "0"
	"angles" "-90 0 0"
	"classname" "info_particle_system"
}

{
	"solid" "6"
	"fadescale" "0"
	"origin" "9025 -692 -278"
	"disableshadows" "1"
	"model" "models/props_lighting/light_flares.mdl"
	"classname" "prop_dynamic"
}
{
	"origin" "9025 -690 -278"
	"angles" "-45 -120 0"
	"rendercolor" "200 20 15"
	"rendermode" "9"
	"spotlightwidth" "1"
	"spotlightlength" "3"
	"renderamt" "255"
	"spawnflags" "1"
	"disableshadows" "1"
	"classname" "point_spotlight"
}
{
	"origin" "9025 -690 -278"
	"style" "6"
	"_light" "200 20 15 255"
	"brightness" "3"
	"spotlight_radius" "64"
	"distance" "500"
	"classname" "light_dynamic"
}
{
	"origin" "9025 -690 -277"
	"start_active" "1"
	"effect_name" "flare_burning"
	"cpoint7_parent" "0"
	"cpoint6_parent" "0"
	"cpoint5_parent" "0"
	"cpoint4_parent" "0"
	"cpoint3_parent" "0"
	"cpoint2_parent" "0"
	"cpoint1_parent" "0"
	"angles" "-90 0 0"
	"classname" "info_particle_system"
}

{
	"solid" "6"
	"fadescale" "0"
	"origin" "9623 -994 -381"
	"disableshadows" "1"
	"model" "models/props_lighting/light_flares.mdl"
	"classname" "prop_dynamic"
}
{
	"origin" "9623 -992 -381"
	"angles" "-45 -120 0"
	"rendercolor" "200 20 15"
	"rendermode" "9"
	"spotlightwidth" "1"
	"spotlightlength" "3"
	"renderamt" "255"
	"spawnflags" "1"
	"disableshadows" "1"
	"classname" "point_spotlight"
}
{
	"origin" "9623 -994 -381"
	"style" "6"
	"_light" "200 20 15 255"
	"brightness" "3"
	"spotlight_radius" "64"
	"distance" "500"
	"classname" "light_dynamic"
}
{
	"origin" "9623 -994 -380"
	"start_active" "1"
	"effect_name" "flare_burning"
	"cpoint7_parent" "0"
	"cpoint6_parent" "0"
	"cpoint5_parent" "0"
	"cpoint4_parent" "0"
	"cpoint3_parent" "0"
	"cpoint2_parent" "0"
	"cpoint1_parent" "0"
	"angles" "-90 0 0"
	"classname" "info_particle_system"
}

{
	"solid" "6"
	"fadescale" "0"
	"origin" "10762 -1266 -381"
	"disableshadows" "1"
	"model" "models/props_lighting/light_flares.mdl"
	"classname" "prop_dynamic"
}
{
	"origin" "10762 -1264 -381"
	"angles" "-45 -120 0"
	"rendercolor" "200 20 15"
	"rendermode" "9"
	"spotlightwidth" "1"
	"spotlightlength" "3"
	"renderamt" "255"
	"spawnflags" "1"
	"disableshadows" "1"
	"classname" "point_spotlight"
}
{
	"origin" "10762 -1264 -381"
	"style" "6"
	"_light" "200 20 15 255"
	"brightness" "3"
	"spotlight_radius" "64"
	"distance" "500"
	"classname" "light_dynamic"
}
{
	"origin" "10762 -1264 -380"
	"start_active" "1"
	"effect_name" "flare_burning"
	"cpoint7_parent" "0"
	"cpoint6_parent" "0"
	"cpoint5_parent" "0"
	"cpoint4_parent" "0"
	"cpoint3_parent" "0"
	"cpoint2_parent" "0"
	"cpoint1_parent" "0"
	"angles" "-90 0 0"
	"classname" "info_particle_system"
}

; 幫助特感爬上去 (起始安全室附近的特感梯子)
{
	"targetname" "l4d2_spawn_props_object_2025_08_11"
	"solid" "6"
	"origin" "1518.43 -131.38 424.74"
	"angles" "90.00 84.91 0.00"
	"model"	 "models/props_wasteland/rock_moss02.mdl"
	"classname"	"prop_dynamic_override"
}

{
    "classname" "func_simpleladder"
    "origin" "2671.19 -2029.42 194.00"
    "angles" "0.00 90.00 0.00"
    "model" "*73"        
    "normal.x" "1.00"
    "normal.y" "0.00"
    "normal.z" "0.00"
    "team" "2"
}

; --- Get rid of color correction.
; 刪除濾鏡
filter:
{
	"classname" "color_correction"
}