; Undead Zone Map 5

; --- Remove color correction.
filter:
{
	;"hammerid" "134671"
	"hammerid" "2312"
}

; --- Add a way for tank to get out of stuck spots.
add:
{
	"classname" "prop_dynamic"
	"origin" "-5590 -418 2.53218"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props/de_nuke/crate_small.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-5507 -431 2.2668"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props/de_nuke/crate_extralarge.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-5576 -404 63.0785"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_crates/static_crate_40.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-5641 -405 5.4158"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_crates/static_crate_40.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-7589 -3.55656 1"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_crates/static_crate_40.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-7571 -11 40.027"
	"angles" "0 0 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_crates/static_crate_40.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-7563.61 -41 1"
	"angles" "0 21 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_crates/static_crate_40.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-7563 37 1.00002"
	"angles" "0 180 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_unique/processor_tank.mdl"
}

; --- Add ammo pile at hangar.
add:
{
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"solid" "6"
	"model" "models/props/terror/ammo_stack.mdl"
	"disableshadows" "1"
	"count" "5"
	"angles" "0 0 0"
	"origin" "-7308 -1033 1"
}

; --- Ensure safe room weapon selection
;modify:
;{
;	match:
;	{
;		"hammerid" "209393"
;	}
;	replace:
;	{
;		"weapon_selection" "any_smg"
;		"spawnflags" "6"
;	}
;}
;{
;	match:
;	{
;		"hammerid" "209395"
;	}
;	replace:
;	{
;		"weapon_selection" "any_shotgun"
;		"spawnflags" "6"
;	}
;}

; --- 4 static pill spawns
;filter:
;{
;	; Pills
;	"classname" "weapon_item_spawn"
;	"item4" "1"
;}
;{
;	; Kits
;	"classname" "weapon_item_spawn"
;	"item2" "1"
;}
;{
;	; More Kits
;	"classname" "weapon_first_aid_kit_spawn"
;}
add:
{
	"origin" "-6809.507813 -838.090820 38"
	"angles" "0 0 0"
	"classname" "weapon_first_aid_kit_spawn"
	"spawnflags" "2"
	"disableshadows"	"1"
	"solid" "6"
}
{
	"origin" "-6807.506836 -868.529114 38"
	"angles" "0 0 0"
	"classname" "weapon_first_aid_kit_spawn"
	"spawnflags" "2"
	"disableshadows"	"1"
	"solid" "6"
}
{
	"origin" "-6807.130859 -981.126831 38"
	"angles" "0 0 0"
	"classname" "weapon_first_aid_kit_spawn"
	"spawnflags" "2"
	"disableshadows"	"1"
	"solid" "6"
}
{
	"origin" "-6827.556152 -926.838379 38"
	"angles" "0 0 0"
	"classname" "weapon_first_aid_kit_spawn"
	"spawnflags" "2"
	"disableshadows"	"1"
	"solid" "6"
}

; --- Block a stuck spot.
add:
{
	; invisible block
	"origin" "-3134 -68 174"
	"mins" "-8 -234 -175"
	"maxs" "8 234 175"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}


; Harry modify 2024
filter:
; color correction.
{
	"hammerid" "12971"
}

; --- Remove item spawns in bad locations or excessive density in a location
{
	;"origin"     "-6036 908 54"
	"classname"   "weapon_first_aid_kit_spawn"
	"hammerid"    "2305"
}
{
	;"origin"     "-6046 930 54"
	"classname"   "weapon_first_aid_kit_spawn"
	"hammerid"    "2304"
}
{
	;"origin"     "-6028 936 54"
	"classname"   "weapon_first_aid_kit_spawn"
	"hammerid"    "2306"
}
{
	;"origin"     "-6060 920 54"
	"classname"   "weapon_first_aid_kit_spawn"
	"hammerid"    "2307"
}
{
	;"origin"     "-6486 876 50"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "2873"
}
{
	;"origin"     "-7818 1361 185"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "2878"
}
{
	;"origin"     "-7461 425 183"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "2881"
}
{
	;"origin"     "-6760 -20 188"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "2888"
}
{
	;"origin"     "-6860 29 50"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "2902"
}
{
	;"origin"     "-6346 1821 16"
	"classname"   "weapon_pain_pills_spawn"
	"hammerid"    "2869"
}

add:
; ladder
{
    "classname" "func_simpleladder"
    "origin" "151.66 3.96 -127.10"
    "angles" "0.00 0.00 0.00"
    "model" "*61"        
    "normal.x" "0.00"
    "normal.y" "-1.00"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "2845.10 -1618.03 -301.16"
    "angles" "0.00 0.00 0.00"
    "model" "*88"        
    "normal.x" "0.00"
    "normal.y" "-1.00"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "-7002.33 -5446.77 -280.06"
    "angles" "0.00 270.00 0.00"
    "model" "*88"        
    "normal.x" "-1.00"
    "normal.y" "-0.00"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "-3383.23 6270.27 -280.15"
    "angles" "0.00 90.00 0.00"
    "model" "*88"        
    "normal.x" "1.00"
    "normal.y" "0.00"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "-202.97 -1737.53 -313.73"
    "angles" "0.00 0.00 0.00"
    "model" "*88"        
    "normal.x" "0.00"
    "normal.y" "-1.00"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "3725.63 -1673.03 -283.95"
    "angles" "0.00 0.00 0.00"
    "model" "*88"        
    "normal.x" "0.00"
    "normal.y" "-1.00"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "-1098.25 6465.53 -287.82"
    "angles" "0.00 90.00 0.00"
    "model" "*88"        
    "normal.x" "1.00"
    "normal.y" "0.00"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "-4937.08 -5904.47 -324.82"
    "angles" "0.00 270.00 0.00"
    "model" "*88"        
    "normal.x" "-1.00"
    "normal.y" "-0.00"
    "normal.z" "0.00"
    "team" "2"
}

{
    "classname" "func_simpleladder"
    "origin" "-9023.19 2443.64 -296.82"
    "angles" "0.00 540.00 0.00"
    "model" "*88"        
    "normal.x" "-0.00"
    "normal.y" "1.00"
    "normal.z" "0.00"
    "team" "2"
}

; weapons
{
	"targetname" "l4d2_spawn_props_object_2024_06_03"
	"solid" "6"
	"classname"	"weapon_hunting_rifle_spawn"
	"origin" "-4276.75 475.00 73.68"
	"angles" "-4.34 346.86 272.90"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_06_03"
	"solid" "6"
	"classname"	"weapon_smg_spawn"
	"origin" "-6816.40 -953.15 39.03"
	"angles" "0.00 115.04 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

; objects
{
	"targetname" "l4d2_spawn_props_object_2024_06_04"
	"solid" "6"
	"origin" "-8253.73 682.03 70.03"
	"angles" "364.00 600.69 0.00"
	"model"	 "models/props_foliage/rock_coast02f.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_06_04"
	"solid" "6"
	"origin" "-8344.33 713.54 46.03"
	"angles" "-1.00 20.97 -9.00"
	"model"	 "models/props_foliage/rock_coast02f.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_06_04"
	"solid" "6"
	"origin" "-8760.32 280.75 29.76"
	"angles" "85.00 145.25 0.00"
	"model"	 "models/props/cs_militia/militiarock03.mdl"
	"classname"	"prop_dynamic_override"
}

; missing 'pilot' actor 
{
	"-7427.93 1104 287.61"
	"targetname"	"pilot"
	"spawnflags"	"1"
	"model"	"models/props_c17/consolebox01a.mdl"
	"angles"	"0 90 0"
	"classname"	"func_orator"
}