;harry mod
;zone
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block getting punched on top of barn by tank
{
    ; invisible block along barn roof edge
    "origin" "6984 -154 1199"
    "mins" "-8 -434 -657"
    "maxs" "8 434 657"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block climbing onto invisible ledge jesus spot at escape barrier
{
    ; invisible block above invisible ledge
    "origin" "5504 3304 1136"
    "mins" "-384 -40 -740"
    "maxs" "450 40 720"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================

add:
{
    ; invisible block (avoids survivors climbing near exit fence) L
    "origin" "5688 3324 280"
    "mins" "0 0 -130"
    "maxs" "202 216 160"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block (avoids survivors climbing near exit fence) R
    "origin" "6185 3324 280"
    "mins" "0 0 -130"
    "maxs" "235 216 160"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block (avoids survivors climbing near exit fence) M
    "origin" "5890 3356 280"
    "mins" "0 0 -130"
    "maxs" "295 186 160"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
	"classname" "prop_dynamic"
	"angles" "-12.558 346.661 22.6003"
	"disableshadows" "1"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "8768 4527 456"
}
{
	"classname" "prop_dynamic"
	"angles" "-12.558 346.661 22.6003"
	"disableshadows" "1"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "8768 4475 427"
}
{
	"classname" "prop_dynamic"
	"angles" "-12.558 288.661 22.6003"
	"disableshadows" "1"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "10758 577 -77"
}
{
	"classname" "prop_dynamic"
	"angles" "-12.558 346.661 22.6003"
	"disableshadows" "1"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "10344 1529.7 -14"
}
{
	"classname" "prop_physics"
	"angles" "82.793 223.5 9.44824"
	"disableshadows" "1"
	"model" "models/props_foliage/tree_trunk_fallen.mdl"
	"rendercolor" "255 255 255"
	"origin" "5862 2990 236.998"
}
{
	"classname" "prop_dynamic"
	"angles" "-12.558 346.661 22.6003"
	"disableshadows" "1"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "6893 3219 197"
}
{
	"classname" "prop_dynamic"
	"angles" "-12.558 346.661 22.6003"
	"disableshadows" "1"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "5263.92 3218.47 233.132"
}

; =====================================================

;roto2+myself
add:
{
	"origin" "7337.615234 -107.304779 396.031250"
	"solid" "6"
	"count" "5"
	"angles" "247.327911 71.521797 112.262748"
	"classname" "weapon_hunting_rifle_spawn"
}
;roto2 original
;modify:
; --- comment #62
;{
;	match:
;	{
;		"hammerid" "238355"
;	}
;	replace:
;	{
;		"origin" "7337.615234 -107.304779 396.031250"
;		"angles" "247.327911 71.521797 112.262748"
;	}
;}

;roto2
add:
{
	"solid" "6"
	"origin" "5248.495117 2490.547607 199.593933"
	"angles" "357.886688 105.817070 3.231012"
	"model" "models/props_unique/haybails_single.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5210.973145 2479.100098 239.401215"
	"angles" "1.367874 -263.080475 -86.390984"
	"model" "models/props_unique/haybails_single.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5818.309082 2566.437988 233.273865"
	"angles" "2.365885 186.982468 -86.388947"
	"model" "models/props_unique/haybails_single.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5767.847656 2531.806152 214.252258"
	"angles" "0.000000 94.322433 -0.039565"
	"model" "models/props_normandy/haybale.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5762.728516 2543.856689 248.791748"
	"angles" "0.331581 60.230553 -0.632110"
	"model" "models/props_normandy/haybale.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5719.290527 2559.701904 214.252258"
	"angles" "0.101585 101.020096 -0.059347"
	"model" "models/props_normandy/haybale.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5256.113281 2492.105713 248.616577"
	"angles" "356.221375 150.850586 0.790805"
	"model" "models/props_unique/haybails_single.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5261.035645 2440.748047 199.628815"
	"angles" "359.211090 240.902618 -3.779786"
	"model" "models/props_unique/haybails_single.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5380.940430 3017.188232 211.730286"
	"angles" "355.829132 176.312271 -1.014329"
	"model" "models/props/cs_militia/militiarock01.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "6080.265625 2880.091309 260.422607"
	"angles" "360.000000 334.361877 0.039565"
	"model" "models/props_plants/corndry_split01.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5402.977051 3078.401855 260.640594"
	"angles" "358.829803 253.425156 -3.925307"
	"model" "models/props_plants/corndry_split02.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "5544.465332 2607.564941 245.399567"
	"angles" "360.000000 357.293762 0.039565"
	"model" "models/props_plants/corndry_split05.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "6573.718750 2944.743652 260.522095"
	"angles" "1.018806 285.373993 0.283240"
	"model" "models/props_plants/corndry_split05.mdl"
	"classname" "prop_dynamic"
}
add:
; ----------- add SI spawncover near cornfield
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "9570 2330 214"
    "angles" "0 96 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 2
    "solid" "6"
    "origin" "9574 2270 214"
    "angles" "0 96 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 3
    "solid" "6"
    "origin" "9577 2302 259"
    "angles" "0 96 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}

;myself
; =====================================================
add:
; ----------- prevent SI drop down this shit place and can not climb up---------
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "11025.69 4793.63 24.73"
    "angles" "2.365885 186.982468 -86.388947"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "11062.69 4776.63 84.73"
    "angles" "0 140 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "11107.13 4716.26 84.73"
    "angles" "0 30 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "10980.13 4807.28 90.73"
    "angles" "0 96 80"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
; ----------- prevent Boomer and Smoker drop down the map and use exploit---------
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "8586.69 4958.63 547.73"
    "angles" "2.365885 186.982468 -86.388947"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "8586.69 4958.63 624.73"
    "angles" "2.365885 186.982468 -86.388947"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "8615.69 4912.63 547.73"
    "angles" "2.365885 186.982468 -86.388947"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "8615.69 4912.63 624.73"
    "angles" "2.365885 186.982468 -86.388947"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "8662.69 4931.63 493.71"
    "angles" "20.365885 106.982468 -86.388947"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "8687.69 4929.63 419.73"
    "angles" "2.365885 186.982468 -86.388947"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "8771.69 4915.63 419.73"
    "angles" "0 270 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "8877.69 4911.63 419.73"
    "angles" "0 270 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "8983.69 4907.63 419.73"
    "angles" "0 270 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "9089.69 4874.63 429.73"
    "angles" "0 270 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "9092.69 4931.63 439.73"
    "angles" "0 270 0"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "9164.69 4906.63 520.73"
    "angles" "2.365885 186.982468 -86.388947"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}
{
    ; haybail (round) - 1
    "solid" "6"
    "origin" "9159.69 4954.63 520.73"
    "angles" "2.365885 186.982468 -86.388947"
    "model" "models/props_unique/haybails_single.mdl"
    "classname" "prop_dynamic"
}